//Класс _active для активного li
ul.aside-catalog
    li
        a(href="#").triangle-right
            svg(width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                use(xlink:href="#svg-category-1")
            | Рулевые рейки
    li
        a(href="#").triangle-right
            svg(width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                use(xlink:href="#svg-category-2")
            | Насосы ГУР
    li
        a(href="#").triangle-right
            svg(width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                use(xlink:href="#svg-category-3")
            | Ремкомплекты
    li
        a(href="#").triangle-right
            svg(width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                use(xlink:href="#svg-category-4")
            | Оборудование
    li
        a(href="#").triangle-right
            svg(width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                use(xlink:href="#svg-category-5")
            | Специнструмент
    li
        a(href="#").triangle-right
            svg(width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                use(xlink:href="#svg-category-6")
            | Сальники
    li._parent
        a(href="#").triangle-right
            svg(width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                use(xlink:href="#svg-category-7")
            | Комплектующие

        //Класс _active для активного li
        ul.aside-catalog__sub
            li
                a(href="#") Сальники
            li
                a(href="#") Сайлентблоки
            li
                a(href="#") Штоки рулевых реек
            li
                a(href="#") Гайки поджима
            li
                a(href="#") Втулки
            li
                a(href="#") Заглушки
            li
                a(href="#") Резиновые кольца
            li
                a(href="#") Прокладки
            li
                a(href="#") Тефлоновые кольца
            li
                a(href="#") Хомуты
            li
                a(href="#") Подшипники
            li
                a(href="#") Пыльники рулевых реек
            li
                a(href="#") Фолье-вставки
            li
                a(href="#") Тяги рулевых реек
            li
                a(href="#") Бачки ГУР
            li
                a(href="#") Трубки рулевых реек
            li
                a(href="#") Детали EPS
            li
                a(href="#") Шкивы насосов ГУР
            li
                a(href="#") Поршни
            li
                a(href="#") Другое

button.callback(type="button" data-src="#modal-callback" data-fancybox)
    svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
        use(xlink:href="#svg-callback")
    | Заказать звонок