footer.footer
    .container
        .footer__cols
            .footer__col
                .footer__lists
                    ul.footer__list
                        li
                            a(href="#") Каталог
                        li
                            a(href="#") Услуги СТО
                        li
                            a(href="#") О компании
                        li
                            a(href="#") Гарантия
                        li
                            a(href="#") Доставка и оплата
                        li
                            a(href="#") Учебный центр
                        li
                            a(href="#") Сертификаты
                        li
                            a(href="#") Вакансии
                        li
                            a(href="#") Контакты

                    ul.footer__list
                        li
                            a(href="#") Рулевые рейки
                        li
                            a(href="#") Насосы ГУР
                        li
                            a(href="#") Ремкомплекты
                        li
                            a(href="#") Оборудование
                        li
                            a(href="#") Специнструмент
                        li
                            a(href="#") Комплектующие

            .footer__col
                .footer__address
                    a(href="tel:") 8 800 500 15 40
                    a(href="tel:") office@gidro-sistema.ru
                    span г. Владимир, ул. Поселковая 1
                .footer__delivery Доставка осуществляется по всей территории России, в Беларусь и Казахстан.

            .footer__col
                .footer__messangers
                    a(href="#" target="_blank" rel="nofollow") viber
                    a(href="#" target="_blank" rel="nofollow") whatsapp
                    a(href="#" target="_blank" rel="nofollow") telegram

                .footer__socials
                    a(href="#")
                        svg(width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-vk")

                picture
                    source(type="image/webp" srcset="img/payment@2x.webp 2x, img/payment.webp 1x")
                    source(type="image/png" srcset="img/payment@2x.png 2x, img/payment.png 1x")
                    img.footer__cards(src="img/payment.jpg" alt="" width="219" height="34")

            .footer__col
                // Класс _error для input
                form.footer__form(action="#" method="post")
                    fieldset.footer__form-fieldset
                        input.footer__form-input(type="text" name="name" placeholder="Имя")
                    fieldset.footer__form-fieldset
                        input.footer__form-input(type="tel" name="phone" placeholder="Телефон")
                    .footer__form-policy Нажимая кнопку «отправить» я даю свое согласие на обработку персональных данных
                    .footer__form-btn
                        button(type="submit") Отправить

    .copyright
        .container.copyright__cols
            .copyright__col
                strong © 2022 Гидро-система
                | Копирование и использование всех материалов с сайта возможно только с разрешения администрации сайта gidro-sistema.ru.

            .copyright__col
                a(href="#") Политика конфиденциальности

button.go-top(type="button")
    svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
        use(xlink:href="#svg-arrow-left")



