section.section.slider._grey
    .container
        .section__title
            h2.section__h2
                span Новое поступление
                span Новинки

            .arrows
                button.arrows__item._prev(type="button")
                    svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                        use(xlink:href="#svg-arrow-left")
                button.arrows__item._next(type="button")
                    svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                        use(xlink:href="#svg-arrow-left")

        .slider__init
            .slider__item
                .product
                    .product__virtual-col
                        .product__top
                            .product__labels
                                .product__label._blue Новинка
                            button.product__3d(type="button" data-src="#modal-3d" data-fancybox)
                                svg(width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-3d")

                        .product__carousel
                            .product__carousel-init
                                .product__carousel-item
                                    a.product__img(href="#")
                                        picture
                                            source(type="image/webp" srcset="img/tmp/product@2x.webp 2x, img/tmp/product.webp 1x")
                                            source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                            img(src="img/tmp/product.jpg" alt="" width="415" height="232")
                                .product__carousel-item
                                    a.product__img(href="#")
                                        picture
                                            source(type="image/webp" srcset="img/tmp/product@2x.webp 2x, img/tmp/product.webp 1x")
                                            source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                            img(src="img/tmp/product.jpg" alt="" width="415" height="232")
                                .product__carousel-item
                                    a.product__img(href="#")
                                        picture
                                            source(type="image/webp" srcset="img/tmp/product@2x.webp 2x, img/tmp/product.webp 1x")
                                            source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                            img(src="img/tmp/product.jpg" alt="" width="415" height="232")

                            .product__dots.dots._black
                                button.dots__item(type="button")
                                button.dots__item(type="button")
                                button.dots__item(type="button")

                        a.product__title(href="#") 2GS4454 Lancia Biturbo 1988-1994

                        .product__text Гидравлическая рулевая рейка с треугольным штоком, 2-мя точками крепления и трубками без резьбы. GS

                        .product__params
                            .product__params-col
                                .product__param <span>Состояние:</span> Новый аналог
                            .product__params-col
                                .product__param <span>Тип:</span> Механическая
                            .product__params-col
                                .product__wrap-popup
                                    button.product__param.triangle-down Оригинальные номера
                                    .product__popup.nav__choose-box
                                        span 2044603400
                                        span A204460350080
                                        span A204460790080
                                        span 2044607000
                                        span A2044602700
                                        span 2044602500
                                        span 204460700080
                                        span 2044602700
                                        span 204460250080
                            .product__params-col
                                .product__wrap-popup
                                    button.product__param.triangle-down Аналоги
                                    .product__popup.nav__choose-box
                                        span 2044603400
                                        span A204460350080
                                        span A204460790080
                                        span 2044607000
                                        span A2044602700
                                        span 2044602500
                                        span 204460700080
                                        span 2044602700
                                        span 204460250080

                    .product__virtual-col
                        form.product__controls(action="#" method="post")
                            .product__price 20 046 ₽
                            .product__count
                                button._minus(type="button") -
                                input(type="text" name="count" value="1" readonly)
                                button._plus(type="button") +
                            button.product__cart(type="submit") В корзину

                        .product__stocks
                            // Класс _false для не в наличии
                            .product__stocks-status._true в наличии
                            .product__stocks-cities
                                span Владимир
                                span Москва
                                span Нижний Новгород
                                span Краснодар

            .slider__item
                .product
                    .product__virtual-col
                        .product__top
                            .product__labels
                                .product__label._blue Новинка
                            button.product__3d(type="button" data-src="#modal-3d" data-fancybox)
                                svg(width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-3d")

                        .product__carousel
                            .product__carousel-init
                                .product__carousel-item
                                    a.product__img(href="#")
                                        picture
                                            source(type="image/webp" srcset="img/tmp/product@2x.webp 2x, img/tmp/product.webp 1x")
                                            source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                            img(src="img/tmp/product.jpg" alt="" width="415" height="232")
                                .product__carousel-item
                                    a.product__img(href="#")
                                        picture
                                            source(type="image/webp" srcset="img/tmp/product@2x.webp 2x, img/tmp/product.webp 1x")
                                            source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                            img(src="img/tmp/product.jpg" alt="" width="415" height="232")
                                .product__carousel-item
                                    a.product__img(href="#")
                                        picture
                                            source(type="image/webp" srcset="img/tmp/product@2x.webp 2x, img/tmp/product.webp 1x")
                                            source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                            img(src="img/tmp/product.jpg" alt="" width="415" height="232")

                            .product__dots.dots._black
                                button.dots__item(type="button")
                                button.dots__item(type="button")
                                button.dots__item(type="button")

                        a.product__title(href="#") 2GS4454 Lancia Biturbo 1988-1994

                        .product__text Гидравлическая рулевая рейка с треугольным штоком, 2-мя точками крепления и трубками без резьбы. GS

                        .product__params
                            .product__params-col
                                .product__param <span>Состояние:</span> Новый аналог
                            .product__params-col
                                .product__param <span>Тип:</span> Механическая
                            .product__params-col
                                .product__wrap-popup
                                    button.product__param.triangle-down Оригинальные номера
                                    .product__popup.nav__choose-box
                                        span 2044603400
                                        span A204460350080
                                        span A204460790080
                                        span 2044607000
                                        span A2044602700
                                        span 2044602500
                                        span 204460700080
                                        span 2044602700
                                        span 204460250080
                            .product__params-col
                                .product__wrap-popup
                                    button.product__param.triangle-down Аналоги
                                    .product__popup.nav__choose-box
                                        span 2044603400
                                        span A204460350080
                                        span A204460790080
                                        span 2044607000
                                        span A2044602700
                                        span 2044602500
                                        span 204460700080
                                        span 2044602700
                                        span 204460250080

                    .product__virtual-col
                        form.product__controls(action="#" method="post")
                            .product__price 20 046 ₽
                            .product__count
                                button._minus(type="button") -
                                input(type="text" name="count" value="1" readonly)
                                button._plus(type="button") +
                            button.product__cart(type="submit") В корзину

                        .product__stocks
                            // Класс _false для не в наличии
                            .product__stocks-status._true в наличии
                            .product__stocks-cities
                                span Владимир
                                span Москва
                                span Нижний Новгород
                                span Краснодар

            .slider__item
                .product
                    .product__virtual-col
                        .product__top
                            .product__labels
                                .product__label._blue Новинка
                            button.product__3d(type="button" data-src="#modal-3d" data-fancybox)
                                svg(width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-3d")

                        .product__carousel
                            .product__carousel-init
                                .product__carousel-item
                                    a.product__img(href="#")
                                        picture
                                            source(type="image/webp" srcset="img/tmp/product@2x.webp 2x, img/tmp/product.webp 1x")
                                            source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                            img(src="img/tmp/product.jpg" alt="" width="415" height="232")
                                .product__carousel-item
                                    a.product__img(href="#")
                                        picture
                                            source(type="image/webp" srcset="img/tmp/product@2x.webp 2x, img/tmp/product.webp 1x")
                                            source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                            img(src="img/tmp/product.jpg" alt="" width="415" height="232")
                                .product__carousel-item
                                    a.product__img(href="#")
                                        picture
                                            source(type="image/webp" srcset="img/tmp/product@2x.webp 2x, img/tmp/product.webp 1x")
                                            source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                            img(src="img/tmp/product.jpg" alt="" width="415" height="232")

                            .product__dots.dots._black
                                button.dots__item(type="button")
                                button.dots__item(type="button")
                                button.dots__item(type="button")

                        a.product__title(href="#") 2GS4454 Lancia Biturbo 1988-1994

                        .product__text Гидравлическая рулевая рейка с треугольным штоком, 2-мя точками крепления и трубками без резьбы. GS

                        .product__params
                            .product__params-col
                                .product__param <span>Состояние:</span> Новый аналог
                            .product__params-col
                                .product__param <span>Тип:</span> Механическая
                            .product__params-col
                                .product__wrap-popup
                                    button.product__param.triangle-down Оригинальные номера
                                    .product__popup.nav__choose-box
                                        span 2044603400
                                        span A204460350080
                                        span A204460790080
                                        span 2044607000
                                        span A2044602700
                                        span 2044602500
                                        span 204460700080
                                        span 2044602700
                                        span 204460250080
                            .product__params-col
                                .product__wrap-popup
                                    button.product__param.triangle-down Аналоги
                                    .product__popup.nav__choose-box
                                        span 2044603400
                                        span A204460350080
                                        span A204460790080
                                        span 2044607000
                                        span A2044602700
                                        span 2044602500
                                        span 204460700080
                                        span 2044602700
                                        span 204460250080

                    .product__virtual-col
                        form.product__controls(action="#" method="post")
                            .product__price 20 046 ₽
                            .product__count
                                button._minus(type="button") -
                                input(type="text" name="count" value="1" readonly)
                                button._plus(type="button") +
                            button.product__cart(type="submit") В корзину

                        .product__stocks
                            // Класс _false для не в наличии
                            .product__stocks-status._true в наличии
                            .product__stocks-cities
                                span Владимир
                                span Москва
                                span Нижний Новгород
                                span Краснодар

            .slider__item
                .product
                    .product__virtual-col
                        .product__top
                            .product__labels
                                .product__label._blue Новинка
                            button.product__3d(type="button" data-src="#modal-3d" data-fancybox)
                                svg(width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-3d")

                        .product__carousel
                            .product__carousel-init
                                .product__carousel-item
                                    a.product__img(href="#")
                                        picture
                                            source(type="image/webp" srcset="img/tmp/product@2x.webp 2x, img/tmp/product.webp 1x")
                                            source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                            img(src="img/tmp/product.jpg" alt="" width="415" height="232")
                                .product__carousel-item
                                    a.product__img(href="#")
                                        picture
                                            source(type="image/webp" srcset="img/tmp/product@2x.webp 2x, img/tmp/product.webp 1x")
                                            source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                            img(src="img/tmp/product.jpg" alt="" width="415" height="232")
                                .product__carousel-item
                                    a.product__img(href="#")
                                        picture
                                            source(type="image/webp" srcset="img/tmp/product@2x.webp 2x, img/tmp/product.webp 1x")
                                            source(type="image/jpeg" srcset="img/tmp/product@2x.jpg 2x, img/tmp/product.jpg 1x")
                                            img(src="img/tmp/product.jpg" alt="" width="415" height="232")

                            .product__dots.dots._black
                                button.dots__item(type="button")
                                button.dots__item(type="button")
                                button.dots__item(type="button")

                        a.product__title(href="#") 2GS4454 Lancia Biturbo 1988-1994

                        .product__text Гидравлическая рулевая рейка с треугольным штоком, 2-мя точками крепления и трубками без резьбы. GS

                        .product__params
                            .product__params-col
                                .product__param <span>Состояние:</span> Новый аналог
                            .product__params-col
                                .product__param <span>Тип:</span> Механическая
                            .product__params-col
                                .product__wrap-popup
                                    button.product__param.triangle-down Оригинальные номера
                                    .product__popup.nav__choose-box
                                        span 2044603400
                                        span A204460350080
                                        span A204460790080
                                        span 2044607000
                                        span A2044602700
                                        span 2044602500
                                        span 204460700080
                                        span 2044602700
                                        span 204460250080
                            .product__params-col
                                .product__wrap-popup
                                    button.product__param.triangle-down Аналоги
                                    .product__popup.nav__choose-box
                                        span 2044603400
                                        span A204460350080
                                        span A204460790080
                                        span 2044607000
                                        span A2044602700
                                        span 2044602500
                                        span 204460700080
                                        span 2044602700
                                        span 204460250080

                    .product__virtual-col
                        form.product__controls(action="#" method="post")
                            .product__price 20 046 ₽
                            .product__count
                                button._minus(type="button") -
                                input(type="text" name="count" value="1" readonly)
                                button._plus(type="button") +
                            button.product__cart(type="submit") В корзину

                        .product__stocks
                            // Класс _false для не в наличии
                            .product__stocks-status._true в наличии
                            .product__stocks-cities
                                span Владимир
                                span Москва
                                span Нижний Новгород
                                span Краснодар

        .more
            button.more__button
                svg(width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href="#svg-more")
                | Смотреть все
