doctype html
html(lang="ru")
    head
        - var seo = {title: 'Каталог', description: 'Описание каталога', keywords: 'Ключи каталога'}
        include includes/_meta.pug
    body
        include includes/_header.pug

        main.main
            include includes/_breadcrumbs.pug

            .section._pt0
                .container
                    .catalog__cols
                        .catalog__col
                            a.catalog__item(href="#")
                                span Рулевые рейки
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-1@2x.webp 2x, img/tmp/catalog-1.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-1@2x.png 2x, img/tmp/catalog-1.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-1.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Насосы ГУР
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-2@2x.webp 2x, img/tmp/catalog-2.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-2@2x.png 2x, img/tmp/catalog-2.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-2.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Ремкомплекты
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-3@2x.webp 2x, img/tmp/catalog-3.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-3@2x.png 2x, img/tmp/catalog-3.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-3.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Оборудование
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-4@2x.webp 2x, img/tmp/catalog-4.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-4@2x.png 2x, img/tmp/catalog-4.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-4.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Специнструмент
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-5@2x.webp 2x, img/tmp/catalog-5.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-5@2x.png 2x, img/tmp/catalog-5.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-5.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Сальники
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-6@2x.webp 2x, img/tmp/catalog-6.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-6@2x.png 2x, img/tmp/catalog-6.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-6.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Штоки рулевых реек
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-7@2x.webp 2x, img/tmp/catalog-7.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-7@2x.png 2x, img/tmp/catalog-7.png 1x")
                                    img.catalog__img._center(src="img/tmp/catalog-7.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Втулки
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-8@2x.webp 2x, img/tmp/catalog-8.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-8@2x.png 2x, img/tmp/catalog-8.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-8.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Резиновые кольца
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-9@2x.webp 2x, img/tmp/catalog-9.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-9@2x.png 2x, img/tmp/catalog-9.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-9.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Тефлоновые кольца
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-10@2x.webp 2x, img/tmp/catalog-10.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-10@2x.png 2x, img/tmp/catalog-10.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-10.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Подшипники
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-11@2x.webp 2x, img/tmp/catalog-11.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-11@2x.png 2x, img/tmp/catalog-11.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-11.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Фолье-вставки
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-12@2x.webp 2x, img/tmp/catalog-12.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-12@2x.png 2x, img/tmp/catalog-12.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-12.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Бачки ГУР
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-13@2x.webp 2x, img/tmp/catalog-13.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-13@2x.png 2x, img/tmp/catalog-13.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-13.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Детали EPS
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-14@2x.webp 2x, img/tmp/catalog-14.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-14@2x.png 2x, img/tmp/catalog-14.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-14.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Поршни
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-15@2x.webp 2x, img/tmp/catalog-15.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-15@2x.png 2x, img/tmp/catalog-15.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-15.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Сайлентблоки
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-16@2x.webp 2x, img/tmp/catalog-16.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-16@2x.png 2x, img/tmp/catalog-16.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-16.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Гайки поджима
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-17@2x.webp 2x, img/tmp/catalog-17.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-17@2x.png 2x, img/tmp/catalog-17.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-17.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Заглушки
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-18@2x.webp 2x, img/tmp/catalog-18.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-18@2x.png 2x, img/tmp/catalog-18.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-18.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Прокладки
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-19@2x.webp 2x, img/tmp/catalog-19.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-19@2x.png 2x, img/tmp/catalog-19.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-19.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Хомуты
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-20@2x.webp 2x, img/tmp/catalog-20.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-20@2x.png 2x, img/tmp/catalog-20.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-20.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Пыльники рулевых реек
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-21@2x.webp 2x, img/tmp/catalog-21.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-21@2x.png 2x, img/tmp/catalog-21.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-21.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Тяги рулевых реек
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-22@2x.webp 2x, img/tmp/catalog-22.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-22@2x.png 2x, img/tmp/catalog-22.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-21.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Трубки рулевых реек
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-23@2x.webp 2x, img/tmp/catalog-23.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-23@2x.png 2x, img/tmp/catalog-23.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-23.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Шкивы насосов ГУР
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-24@2x.webp 2x, img/tmp/catalog-24.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-24@2x.png 2x, img/tmp/catalog-24.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-24.png" alt="")

                        .catalog__col
                            a.catalog__item(href="#")
                                span Другое
                                picture
                                    source(type="image/webp" srcset="img/tmp/catalog-25@2x.webp 2x, img/tmp/catalog-25.webp 1x")
                                    source(type="image/png" srcset="img/tmp/catalog-25@2x.png 2x, img/tmp/catalog-25.png 1x")
                                    img.catalog__img(src="img/tmp/catalog-25.png" alt="")

            .section._pt0
                .container
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.

        include includes/_footer.pug

        include includes/_panel.pug

        include includes/_svg.pug

        include includes/_modals.pug

        include includes/_scripts.pug